<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home </title>
  <link rel="stylesheet" href="/static/styles/welcome.css">
  <script src="/static/js/welcome.js"></script>

</head>

<body>
  <div class="welcome-page">
    <div class="corner"></div>
    <div class="corner"></div>
    <div class="corner"></div>
    <div class="corner"></div>
    <div class="content">
      <p data-shadow="WELCOME">
        <span>W</span><span>E</span><span>L</span><span>C</span><span>O</span><span>M</span><span>E</span>
      </p>
    </div>
    <div class="right-vert-line"></div>
    <div class="left-vert-line"></div>
    <div class="continue" onclick="toLoginAndIndex()">Start Travelling!</a></div>
  </div>
</body>

</html>